:root {
  --primary-color: rgb(45, 44, 44);
  --primary-font: "Quicksand", sans-serif;
}

.weather-app {
  font-family: var(--primary-font);
  color: var(--primary-color);
  border: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 1em;
  display: block;
  width: min(100%, 600px);
  margin: 1% auto;
  border-radius: 5px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: 700%;
  animation: bg-animation 5s infinite alternate;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation-high {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
