.cloud-fog {
  position: relative;
  left: 0.9em;
  top: 0.1em;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px #fff;
  animation: color-change 5s infinite alternate;
}
@keyframes color-change {
  0% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px #fff;
  }
  100% {
    color: rgb(184, 184, 184);
    text-shadow: 0 0 8px #fff;
  }
}
.fog-top {
  position: relative;

  animation: mist-move-top 5s infinite alternate;
}
@keyframes mist-move-top {
  0% {
    color: rgb(204, 204, 204);
    text-shadow: 0 0 10px #fff;
  }
  100% {
    transform: translateX(-20px);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px #fff;
  }
}
.fog-middle {
  position: relative;
  bottom: 1.3em;
  left: 0.6em;
  animation: mist-move-middle 5s infinite alternate;
}
@keyframes mist-move-middle {
  0% {
    color: rgb(204, 204, 204);
    text-shadow: 0 0 10px #fff;
  }
  100% {
    transform: translateX(20px);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px #fff;
  }
}
.fog-bottom {
  position: relative;
  bottom: 1.1em;
  left: 0.2em;
  animation: mist-move-bottom 5s infinite alternate;
}
@keyframes mist-move-bottom {
  0% {
    color: rgb(204, 204, 204);
    text-shadow: 0 0 10px #fff;
  }
  100% {
    transform: translateX(-20px);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px #fff;
  }
}
