.LastUpdated {
  font-size: clamp(1em, 2vh, 1.5em);
  padding-left: 1.4em;
}

@media (min-width: 70em) {
  .LastUpdated {
    font-size: 1.5em;
  }
}
@media (max-width: 70em) {
  .LastUpdated {
    font-size: 1em;
  }
}
