.snow-cloud {
  display: block;
  text-align: center;
  font-size: 9rem;
  color: rgb(219, 218, 218);
  text-shadow: 0 0 8px #fff;
}
.SnowDrops {
  position: relative;
  left: 14em;
  top: 8em;
}
.snow-one,
.snow-two,
.snow-three {
  color: rgb(240, 240, 240);
  font-size: 3rem;
  position: relative;
  z-index: 6;
}
.snow-one {
  left: -6px;
  bottom: 210px;
  animation: rotate-fast 20s infinite alternate;
}
@keyframes rotate-fast {
  0% {
    text-shadow: 0 0 5px #fff;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: 0 0 20px #fff;
    transform: rotate(400deg);
  }
}
.snow-two {
  right: 4px;
  bottom: 190px;
  animation: rotate-moderate 20.5s infinite alternate;
}
@keyframes rotate-moderate {
  0% {
    text-shadow: 0 0 5px #fff;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: 0 0 20px #fff;
    transform: rotate(-400deg);
  }
}
.snow-three {
  right: 94px;
  bottom: 147px;
  animation: rotate-slow 21s infinite alternate;
}
@keyframes rotate-slow {
  0% {
    text-shadow: 0 0 5px #fff;
    transform: rotate(0deg);
  }
  100% {
    text-shadow: 0 0 20px #fff;
    transform: rotate(400deg);
  }
}
