.clear-sky {
  width: 50%;
  display: block;
  margin: 5% auto;
  animation: rotate 25s infinite ease-in-out alternate;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(200deg);
  }
}
