.thunder-cloud-top,
.thunder-cloud-middle,
.thunder-cloud-bottom {
  font-size: 9rem;
  color: rgb(128, 128, 128);
  text-shadow: 0 0 15px rgb(151, 150, 150);
  position: relative;
  animation: darker 5s infinite alternate ease-in;
}
@keyframes darker {
  0% {
    text-shadow: 0 0 5px rgb(184, 184, 184);
    color: rgb(136, 136, 136);
  }
  100% {
    text-shadow: 0 0 30px rgb(151, 150, 150);
    color: rgb(128, 128, 128);
  }
}

.thunder-cloud-top {
  top: 0.1em;
  left: 0.7em;
}
.thunder-cloud-middle {
  top: 0.2em;
  z-index: 1;
}
.thunder-cloud-bottom {
  top: 0.1em;
  right: 0.7em;
  z-index: 0;
}
.thunder-bolt {
  font-size: 7rem;
  color: #fff;
  display: block;
  text-align: center;

  animation: glow 5s infinite alternate ease-in;
}
@keyframes glow {
  0% {
    transform: translateY(0px);
    text-shadow: 0 0 0px #fff;
    color: rgb(255, 255, 255 0);
  }
  100% {
    transform: translateY(10px);
    text-shadow: 0 0 30px #fff;
    color: #fff;
  }
}
