h1 {
  font-size: 2.9rem;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 1;
  padding: 0.2em 0.5em;
}

.navbar {
  border-radius: 3px;
  max-width: 100%;
  margin: 10px 0;
  padding: 0.7em;
  border: 2px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  box-shadow: 1px 1px 8px rgb(179, 179, 179);
}

.btn {
  border-color: #ffffff;
  background-color: #ffffff;
  color: rgb(35, 34, 34);
  margin: 0.1em;
}

.btn:hover {
  background-color: #a8ccfc;
  border-color: #a8ccfc;
}

.LastUpdated {
  font-size: 1.4rem;
  padding: 0.1em 1.2em;
}
.weather-details ul {
  list-style-type: none;
  font-size: 1.3em;
}
.weather-details li {
  padding-bottom: 10%;
}
.current-weather ul {
  font-size: 1.3rem;
  text-align: center;
  list-style-type: none;
}
