h1 {
  letter-spacing: 0.1em;
  font-weight: 900;
  line-height: 1.3;
  padding: 0.3em 0.4em;
}

.weather-details ul {
  list-style-type: none;
}
.weather-details li {
  padding-bottom: 5%;
}
.current-weather ul {
  text-align: center;
  list-style-type: none;
}

@media (min-width: 70em) {
  h1 {
    font-size: 3rem;
  }
  .weather-details ul {
    font-size: 1.3rem;
  }
  .current-weather ul {
    font-size: 1.3rem;
  }
}
@media (max-width: 70em) {
  h1 {
    font-size: 2.4rem;
  }
  .weather-details ul {
    font-size: 1rem;
  }
  .current-weather ul {
    font-size: 1rem;
  }
}
