h1 {
  font-size: 3rem;
  letter-spacing: 0.1em;
  font-weight: 900;
  line-height: 1.3;
  padding: 0.3em 0.4em;
}

.weather-details ul {
  list-style-type: none;
  font-size: 1.3em;
}
.weather-details li {
  padding-bottom: 7%;
}
.current-weather ul {
  font-size: 1.3rem;
  text-align: center;
  list-style-type: none;
}
