h1 {
  font-size: 2.9rem !important;
  letter-spacing: 5px;
  font-weight: 900;
  line-height: 1;
  padding: 0.2em 0.5em;
}

.current-temperature {
  font-size: 1.5em;
}

.weather-details ul {
  list-style-type: none;
  font-size: 1.3em;
}
.weather-details li {
  padding-bottom: 10%;
}
.current-weather ul {
  font-size: 1.3rem;
  text-align: center;
  list-style-type: none;
}
