h1 {
  font-size: 2.9rem;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 1;
  padding: 0.2em 0.5em;
}

.navigation {
  border-radius: 3px;
  margin: 10px 0;
  padding: 0.7em;
  border: 2px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  box-shadow: 1px 1px 8px rgb(179, 179, 179);
}

.btn {
  border-color: #ffffff !important;
  background-color: #ffffff !important;
  color: rgb(35, 34, 34) !important;
  margin: 0.1em;
}

.btn:hover {
  background-color: #a1c4fd !important;
  border-color: #a1c4fd !important;
}
