.weather-forecast-display {
  list-style-type: none;
  text-align: center;
  padding: 1%;
}
.weather-forecast-day {
  margin-top: 10%;
}
.weather-forecast-image {
  width: 100%;
  margin: 10% auto;
}

.weather-forecast-max-temp {
  font-weight: 700;
}
.weather-forecast-min-temp {
  font-weight: 200;
}
