h1 {
  font-size: clamp(2.4rem, 3vh, 3rem);
  letter-spacing: 0.1em;
  font-weight: 900;
  line-height: 1.3;
  padding: 0.3em 0.4em;
}

.weather-details ul {
  list-style-type: none;
  font-size: clamp(1em, 1vh, 1.3rem);
}
.weather-details li {
  padding-bottom: 5%;
}
.current-weather ul {
  font-size: clamp(1em, 1vh, 1.3rem);
  text-align: center;
  list-style-type: none;
}
