.navigation {
  border-radius: 3px;
  margin: 2% 0;
  padding: 1em;
  border: 2px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100% 0.2);
  box-shadow: 1px 1px 8px rgb(179, 179, 179);
}

.btn {
  border-color: #ffffff !important;
  background-color: #ffffff !important;
  color: rgb(35, 34, 34) !important;
  margin: 0.1em;
}

.btn:hover {
  background-color: #a1c4fd !important;
  border-color: #a1c4fd !important;
}
